header {
  text-align: center;
}

#errorMessage {
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.centered-message {
  text-align: center;
}

.button {
  background-color: #008cba;
  color: white;
  padding: 10px 20px; /* Adjusted padding for better aesthetics */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Added smooth transition */
}

.button:hover {
  background-color: #005177;
}

#paginationControls {
  margin-top: 20px;
  text-align: center;
}

/* Apply styles specifically for buttons within #paginationControls */
#paginationControls .button {
  margin: 0 5px; /* Add margin between buttons */
}

#currentPage {
  margin: 0 10px;
  font-weight: bold; /* Made the current page bold for better visibility */
}

#subscriberInfo {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#totalsubscribers,
#pageCount {
  font-weight: bold;
  margin: 0 10px;
}

#pageCount {
  color: #000000;
}
